html {
    overflow-y: yes;
}
th {
    font-size: 28px;
}
h1 {
    font-size: 50px;
}
::-webkit-scrollbar {
    width: 5px;  
}
::-webkit-scrollbar-corner {
    color: black;
}
  
::-webkit-scrollbar-thumb {  
    border-radius: 20px;
    background: -webkit-gradient(linear,left top,left bottom,from(rgb(118, 47, 255)),to(#bd2ed3));
}
body {
    margin: 0px;
}
body.lock {
    overflow: hidden;
}

ul li:first-child a {
	border-left: 2px solid rgb(93, 40, 197);
}

a:hover {
	background-color: rgb(93, 40, 197);
}
.main__link {
    color: rgb(118, 47, 255);
    font-size: 24px;
	border-bottom: 2px solid;
	text-decoration: none;
}
p {
    color: white;
    font-size: 18px;
}
.main {
    margin: 0 auto;
    width: 60%;
}
ul {
    color: white;
    font-size: 18px;
}
.menu__style__button {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    padding: 0 20px;
    border-right: 2px solid rgb(93, 40, 197);
    transition: .3s all ease;
    display: block;
    font-size: 24px;
    border-bottom: 0px solid;
    text-decoration: none;
}
.menu__style__button__selected {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    padding: 0 20px;
    border-right: 2px solid rgb(93, 40, 197);
    transition: .3s all ease;
    display: block;
    font-size: 28px;
    border-bottom: 0px solid;
    text-decoration: none;
    font-weight: bold;
}
.wrapper{
	position: relative;
	display: block;
	box-sizing: border-box;
	text-align: justify;
    margin: 0 auto;
    width: 60%;
    padding-top: 15px;
}
.wrapper:after{
	position: relative;
	display: inline-block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	vertical-align: top;
	content: '';
}
.wrapper>div{
	position: relative;
	display: inline-block;
	width: 25%;
	height: 50px;
	box-sizing: border-box;
	text-align: left;
	vertical-align: top;
}
.clones {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}
.clones__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
}
.clones:target {
    visibility: visible;
    opacity: 1;
}
.clones__close {
    position: absolute;
    right: 0;
    top: -13px;
    color: rgb(118, 47, 255);
    text-decoration: none;
    font-size: 40px;
}
.clones__close:hover {
    background-color: rgba(118, 47, 255, 0);
}
.clones__title {
    color: rgb(118, 47, 255);
    font-size: 5vmin;
    position: absolute;
    left: 15vmin;
    padding: 5vmin 0;
    font: bold;
}
.clones__icon {
    width: 15vmin;
    position: absolute;
    left: 0;
    top: 0;
}
.clones__text {
    position: absolute;
    left: 0;
    top: 15vmin;
    max-width: 50%;
}
.clones__link__3d {
    color: rgb(118, 47, 255);
    font-size: 5vmin;
}
.clones__link__3d:hover {
    background-color: rgba(118, 47, 255, 0);
}
.clones__video {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 50%;
    max-height: 60%;
}
.clones__stats {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 50%;
}
.clones__3d {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
    margin: auto;
}
.clones__3d__model {
    position: fixed;
}
.clones__3d:target {
    visibility: visible;
    opacity: 1;
}
.oops {
    width: 100%;
    font-size: 24px;
    margin: 30px;
}
.oops__bg {
    width: 50%;
    background-color: black;
    border: solid;
    border-color: white;
    border-width: 1px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.center {display: flex; justify-content: center; align-items: center;}
.center iframe {width: 100vmin; height: 100vmin;}
.scale {
    display: inline-block;
}
.scale img {
    transition: 0.8s;
    display: block;
}
.scale img:hover {
    transform: scale(1.15);
}
.scale:hover {
    background-color: rgba(0, 0, 0, 0);
}